*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config.yml
lib/afn.csv
afn.csv
schedule.bat
recommendations_inventory.xml
recommendations_selection.xml
recommendations_pricing.xml
recommendations_fulfillment.xml
recommendations_listingquality.xml
