*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config.yml
lib/afn.csv
afn.csv
schedule.bat
recommendations_inventory.txt
recommendations_selection.txt
recommendations_pricing.txt
recommendations_fulfillment.txt
recommendations_listingquality.txt
